.Orange_Block {
    background: orange ;
    width: 1000px;
    padding-left: 200px;
    padding-top: 50px;
}

.Orange_Block h2 {
  color: white;
  font-weight: lighter;
  font-size: 35px;
  margin-bottom: 5px
}

.Orange_Block_Content {
  color: white;
  border-top: 3px dashed red;
  border-bottom: 3px dashed red;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 800px;
}

.SPRING_SUMMER {
  color: red;
}


.BuyNowButton {
    color: orange;
    background-color: white;
    display: inline-block;
    font-size: 36px;
    border-radius: 10px;
    padding: 20px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
}

.Read_Reviews {
  display: inline-block;
  color: red;
}

.price {
    color: white;
    height: 30px;
    display: inline-block;
    font-size: 20px;
}

.price .small {
  font-size: 12px;
  vertical-align: text-top;

}


body {
  font-family: sans-serif;
}

.menu {
  margin-bottom: 10px;
}

.menu .item {
  display: inline-block;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 8px;
}

.menu .item.selected {
  color: brown;
  border-bottom: 5px solid pink;
}


.Logo {
  width: 80px;
}

.Help {
  display: inline-block;
  font-weight: bold;
  color: pink;
}

.My_Account {
  display: inline-block;
  font-weight: bold;
  color: pink;
}

.Cart_Logo {
  display: inline-block;
  font-weight: bold;
  color: pink;
}

.Shopping_Cart {
  display: inline-block;
  font-weight: bold;
  color: pink;
}

.Back_Button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 1000px;
}
